  #group{
    display: block;
    font-family: 'Lato', sans-serif;
  }
  
  h4{
  margin: 0px 0px 5vh 30vw;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  }
  
  #blocking{
    display: none;
    width: 100%;
    height: 108vh;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 3;
    
  }
  
  #menu{
    margin: 5px 0px 0px 0px;
    }
  
  #buttons{
  margin: 5px 0px 0px 35vw;
  }
  
  .buttonMenu{
    display: inline-block;
    margin: 10px 30px;
      padding: 15px 20px;
    font: normal 12px;
      list-style: none;
      border-radius: 10px;
      color: white;
    background: #000011;
  }
  
  .buttonMenu:hover{
    cursor: pointer;
    animation-duration: 0.1s;
    animation-name: buttonHover;
    animation-fill-mode: forwards;
  }
  
  #stroke{
    width: 74px;
    text-align: center;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  #question{
    display: none;
    width: 241px;
    text-align: center;
    margin-left: 30vw;
    position: absolute;
    border-radius: 10px;
    font: bold 12px;
    z-index: 2;
    color: #fff;
  }
  
  #colors{
    display: none;
    position: absolute;
    border-spacing: 10px 5px;
    margin-left: 638px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
  }
  
  .color{
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 2px 2px grey;
  }
  
  .color:hover{
    cursor: pointer;
    animation-duration: 0.1s;
    animation-name: buttonHover;
    animation-fill-mode: forwards;
  }
  
  /*/////////////////////////////////////////////////////////////////////////////
  COLORS*/
  
  .color[name = "#0000FF"]{
    background: #0000FF;
  }
  .color[name = "#01DFD7"]{
    background: #01DFD7;
  }
  .color[name = "#FFFF00"]{
    background: #FFFF00;
  }
  .color[name = "#DF0101"]{
    background: #DF0101;
  }
  .color[name = "#FE2EF7"]{
    background: #FE2EF7;
  }
    
    
  .color[name = "#0174DF"]{
    background: #0174DF;
  }
  .color[name = "#00FF40"]{
    background: #00FF40;
  }
  .color[name = "#FF8000"]{
    background: #FF8000;
  }
  .color[name = "#FA8258"]{
    background: #FA8258;
  }
  .color[name = "#642EFE"]{
    background: #642EFE;
  }
    
    
  .color[name = "#58D3F7"]{
    background: #58D3F7;
  }
  .color[name = "#298A08"]{
    background: #298A08;
  }
  .color[name = "#F5BCA9"]{
    background: #F5BCA9;
  }
  .color[name = "#F5A9F2"]{
    background: #F5A9F2;
  }
  .color[name = "#9A2EFE"]{
    background: #9A2EFE;
  }
    
  /*////////////////////////////////////////////////////////////////////////////*/
    
  #star{
    display: none;
    background: red;
    width: 6px; /*6 for avoid pixel effect*/
    height: 6px; /* 6 for avoid pixel effect*/
    overflow: hidden;
    position: absolute;
    z-index: 1;
    box-shadow:
  
    /*Edges*/
    5px 0px 0 0 red,10px 0px 0 0 red,15px 0px 0 0 red,20px 0px 0 0 red,25px 0px 0 0 red,
    25px -5px 0 0 red,
    30px -10px 0 0 red,30px -15px 0 0 red,
    35px -20px 0 0 red,37.5px -25px 0 0 red,
    40px -20px 0 0 red,45px -15px 0 0 red,
    45px -10px 0 0 red,
    50px -5px 0 0 red,50px 0px 0 0 red,55px 0px 0 0 red,60px 0px 0 0 red,65px 0px 0 0 red,70px 0px 0 0 red,
    75px 0px 0 0 red,
    75px 5px 0 0 red,
    70px 10px 0 0 red,
    65px 15px 0 0 red,
    60px 20px 0 0 red,60px 25px 0 0 red,
    65px 30px 0 0 red,65px 35px 0 0 red,
    70px 40px 0 0 red,70px 45px 0 0 red,
    75px 50px 0 0 red,
    75px 55px 0 0 red,70px 55px 0 0 red,65px 55px 0 0 red,
    60px 50px 0 0 red,55px 50px 0 0 red,
    50px 45px 0 0 red,45px 45px 0 0 red,
    40px 40px 0 0 red,35px 40px 0 0 red,
    30px 45px 0 0 red,25px 45px 0 0 red,
    20px 50px 0 0 red,15px 50px 0 0 red,
    10px 55px 0 0 red,5px 55px 0 0 red,0px 55px 0 0 red,
    0px 50px 0 0 red,
    5px 45px 0 0 red,5px 40px 0 0 red,
    10px 35px 0 0 red,10px 30px 0 0 red,
    15px 25px 0 0 red,15px 20px 0 0 red,
    10px 15px 0 0 red,
    5px 10px 0 0 red,
    0px 5px 0 0 red,
  
  /*filling*/
    35px -15px 0 0 red,40px -15px 0 0 red,
    35px -10px 0 0 red,40px -10px 0 0 red,
    30px -5px 0 0 red,35px -5px 0 0 red,40px -5px 0 0 red,45px -5px 0 0 red,
    30px 0px 0 0 red,35px 0px 0 0 red,40px 0px 0 0 red,45px 0px 0 0 red,
    5px 5px 0 0 red,10px 5px 0 0 red,15px 5px 0 0 red,20px 5px 0 0 red,25px 5px 0 0 red,30px 5px 0 0 red,35px 5px 0 0 red
    ,40px 5px 0 0 red,45px 5px 0 0 red,50px 5px 0 0 red,55px 5px 0 0 red,60px 5px 0 0 red,65px 5px 0 0 red,70px 5px 0 0 red,
    10px 10px 0 0 red,15px 10px 0 0 red,20px 10px 0 0 red,25px 10px 0 0 red,30px 10px 0 0 red,35px 10px 0 0 red,40px 10px 0 0 red
    ,45px 10px 0 0 red,50px 10px 0 0 red,55px 10px 0 0 red,60px 10px 0 0 red,65px 10px 0 0 red,
    15px 15px 0 0 red,20px 15px 0 0 red,25px 15px 0 0 red,30px 15px 0 0 red,35px 15px 0 0 red,40px 15px 0 0 red,45px 15px 0 0 red
    ,50px 15px 0 0 red,55px 15px 0 0 red,60px 15px 0 0 red,
    20px 20px 0 0 red,25px 20px 0 0 red,30px 20px 0 0 red,35px 20px 0 0 red,40px 20px 0 0 red,45px 20px 0 0 red
    ,50px 20px 0 0 red,55px 20px 0 0 red,
    20px 25px 0 0 red,25px 25px 0 0 red,30px 25px 0 0 red,35px 25px 0 0 red,40px 25px 0 0 red,45px 25px 0 0 red
    ,50px 25px 0 0 red,55px 25px 0 0 red,
    15px 30px 0 0 red,20px 30px 0 0 red,25px 30px 0 0 red,30px 30px 0 0 red,35px 30px 0 0 red,40px 30px 0 0 red
    ,45px 30px 0 0 red,50px 30px 0 0 red,55px 30px 0 0 red,60px 30px 0 0 red,
    15px 35px 0 0 red,20px 35px 0 0 red,25px 35px 0 0 red,30px 35px 0 0 red,35px 35px 0 0 red,40px 35px 0 0 red
    ,45px 35px 0 0 red,50px 35px 0 0 red,55px 35px 0 0 red,60px 35px 0 0 red,
    10px 40px 0 0 red,15px 40px 0 0 red,20px 40px 0 0 red,25px 40px 0 0 red,30px 40px 0 0 red,45px 40px 0 0 red
    ,50px 40px 0 0 red,55px 40px 0 0 red,60px 40px 0 0 red,65px 40px 0 0 red,
    10px 45px 0 0 red,15px 45px 0 0 red,20px 45px 0 0 red,50px 45px 0 0 red,55px 45px 0 0 red,60px 45px 0 0 red
    ,65px 45px 0 0 red,
    5px 50px 0 0 red,10px 50px 0 0 red,65px 50px 0 0 red,70px 50px 0 0 red;
  }
  
  /*/////////////////////////////////////////////////////////////////////////////
  BUTTON HOVER ANIMATION.*/
  
  @keyframes buttonHover{
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }
  
  /*////////////////////////////////////////////////////////////////////////////*/
  
  /*/////////////////////////////////////////////////////////////////////////////
  BUTTON HOVER ANIMATION FOR DELETE.*/
  
  [glow = yes]{
    animation-name: buttonHoverDelete;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  
  @keyframes buttonHoverDelete{
    40%{
      text-shadow: 0px 5px 3px red;
    }
    80%{
      text-shadow: 0px 5px 5px grey;
    }
  }
  
  /*////////////////////////////////////////////////////////////////////////////*/
  
  /*/////////////////////////////////////////////////////////////////////////////
  JUMP ANIMATION.*/
  
  [jump = yes]{
    animation-name: bouncer;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0,0.51,0.31,1.51);
    -webkit-transition: background-color .2s linear 0s; /*Chrome*/
    -moz-transition: background-color .2s linear 0s; /*Firefox*/
    -o-transition: background-color .2s linear 0s; /*Opera*/
    transition: background-color .2s linear 0s; /*Standard*/
  }
  
  @keyframes bouncer{
    0%{
      transform: translate(0px, 0px);
    }
    5%{
      box-shadow: 0px 5px 10px grey;
    }
    50%{
      box-shadow: 0px 0px 10px grey;
      transform: translate(0px, -45px);
    }
    75%{
      box-shadow: 0px 5px 10px grey;
    }
   100%{
    box-shadow: 0px 0px 10px grey;
    transform: translate(0px, 0px);
   }
  }
  
  /*////////////////////////////////////////////////////////////////////////////*/
  
  /*/////////////////////////////////////////////////////////////////////////////
  SHAKE ANIMATION.*/
  
  #backGround[shake = yes]{
    animation-name: shakerBackGround;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0,0.51,0.4,1.51);
  }
  
  #zone[shake = yes]{
    animation-name: shakerZone;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0,0.51,0.4,1.51);
  }
  
  #zoneAux[shake = yes]{
    animation-name: shakerAuxZone;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0,0.51,0.4,1.51);
    animation-fill-mode: forwards;
  }
  
  @keyframes shakerBackGround{
    20%{
      transform: translate(0px,-100px);
    }
    30%{
      transform: translate(-50px,-100px)  rotate(-5deg);
      box-shadow: 0px 1px 10px grey;
    }
    35%{
      transform: translate(100px,-100px)  rotate(5deg);
      box-shadow: 0px 1px 10px grey;
    }
    40%{
      transform: translate(-100px,-100px)  rotate(-5deg);
      box-shadow: 0px 1px 10px grey;
    }
    45%{
      transform: translate(100px,-100px)  rotate(5deg);
      box-shadow: 0px 1px 10px grey;
    }
    50%{
      transform: translate(-100px,-100px)  rotate(-5deg);
      box-shadow: 0px 1px 10px grey;
    }
    55%{
      transform: translate(100px,-100px)  rotate(5deg);
      box-shadow: 0px 1px 10px grey;
    }
    60%{
      transform: translate(-100px,-100px)  rotate(-5deg);
      box-shadow: 0px 1px 10px grey;
    }
    65%{
      transform: translate(100px,-100px)  rotate(5deg);
      box-shadow: 0px 1px 10px grey;
    }
    70%{
      transform: translate(-100px,-100px)  rotate(-5deg);
      box-shadow: 0px 1px 10px grey;
    }
    80%{
      transform: translate(0px,-100px)  rotate(0deg);
      box-shadow: 0px 1px 10px grey;
    }
    100%{
      transform: translate(0px,0px);
    }
  }
  
  @keyframes shakerZone{
    20%{
      transform: translate(0px,-100px);
    }
    30%{
      transform: translate(-50px,-100px)  rotate(-5deg);
      background-color: rgba(0, 0, 0, 0); 
    }
    35%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    40%{
      transform: translate(-100px,-100px)  rotate(-5deg);
    }
    45%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    50%{
      transform: translate(-100px,-100px)  rotate(-5deg);
    }
    55%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    60%{
      transform: translate(-100px,-100px)  rotate(-5deg);
    }
    65%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    70%{
      transform: translate(-100px,-100px)  rotate(-5deg);
      background-color: rgba(0, 0, 0, 1);
    }
    80%{
      transform: translate(0px,-100px)  rotate(0deg);
      background-color: rgba(0, 0, 0, 1);
    }
    100%{
      transform: translate(0px,0px);
      background-color: rgba(0, 0, 0, 1);
    } 
  }
  
  @keyframes shakerAuxZone{
    20%{
      transform: translate(0px,-100px);
    }
    30%{
      transform: translate(-50px,-100px)  rotate(-5deg);
      background-color: rgba(0, 0, 0, 0); 
    }
    35%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    40%{
      transform: translate(-100px,-100px)  rotate(-5deg);
    }
    45%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    50%{
      transform: translate(-100px,-100px)  rotate(-5deg);
    }
    55%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    60%{
      transform: translate(-100px,-100px)  rotate(-5deg);
    }
    65%{
      transform: translate(100px,-100px)  rotate(5deg);
    }
    70%{
      transform: translate(-100px,-100px)  rotate(-5deg);
      background-color: rgba(0, 0, 0, 1);
    }
    80%{
      transform: translate(0px,-100px)  rotate(0deg);
      background-color: rgba(0, 0, 0, 1);
    }
    100%{
      transform: translate(0px,0px);
      background-color: rgba(0, 0, 0, 1);
    } 
  }
  
  /*////////////////////////////////////////////////////////////////////////////*/
  
  /*/////////////////////////////////////////////////////////////////////////////
  DRAW ANIMATION.*/
  
  [draw = "1"]{
    animation-duration: .3s ;
    animation-name: drawerOne;
    animation-fill-mode: forwards;
  }
  
  [draw = "2"]{
    animation-duration: .3s ;
    animation-name: drawerTwo;
    animation-fill-mode: forwards;
  }
  
  [draw = "3"]{
    animation-duration: .3s ;
    animation-name: drawerThree;
    animation-fill-mode: forwards;
  }
  
  @keyframes drawerOne{
    0% {
      transform: translate(34px, 15px)
      rotate(30deg)
      scale(0, 0);
    }
    80%{
      transform: translate(-35px, -35px)
      rotate(-10deg)
      scale(.5, .5);
      opacity: 1;
    }
    100%{
      transform: translate(-35px, -35px)
      rotate(-10deg)
      scale(.5, .5);
      opacity: 0;
    }
  }
  
  @keyframes drawerTwo{
    0% {
      transform: translate(34px, 15px)
      rotate(30deg)
      scale(0, 0);
    }
    80%{
      transform: translate(-45px, -10px)
      rotate(-20deg)
      scale(.3, .3);
      opacity: 1;
    }
    100%{
      transform: translate(-45px, -10px)
      rotate(-20deg)
      scale(.3, .3);
      opacity: 0;
    }
  }
  
  @keyframes drawerThree{
    0% {
      transform: translate(34px, 15px)
      rotate(30deg)
      scale(0, 0);
    }  
    80%{
      transform: translate(-45px, 35px)
      rotate(-30deg)
      scale(.4, .4);
      opacity: 1;
    }
    100%{
      transform: translate(-45px, 35px)
      rotate(-30deg)
      scale(.4, .4);
      opacity: 0;
    }
  }
  
  /*////////////////////////////////////////////////////////////////////////////*/
  
  #section{
    display: flex;
  }
  
  #instruction{
    display: none;
    position: absolute;
    margin: 10px 0px 0px 475px;
    font: bold 14px;
    color: #000000;
    text-shadow: 0px 5px 5px grey;
  }
  
  #backGround{
    position: relative;
    /* background-color: black; */
    background-image: url(images/panda.png);
    background-repeat: no-repeat;
    background-size: auto;
      margin: 0px 0px 0px 35vw;
    z-index: 0;
  }
  
  #zone{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    margin: 30px 0px 0px 370px;
    border-radius: 20px;
    z-index: 1;
  }
  
  #zoneAux{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    margin: 30px 0px 0px 370px;
    border-radius: 20px;
    z-index: 2;
  }
  
  .canvas:hover{
    cursor: url(https://www.dropbox.com/s/voj05356nrr7e8l/pencil.png?raw=1), pointer;
  }
  
  .canvas:active{
    cursor: url(https://www.dropbox.com/s/s8vbjdci5h17l2v/pencil2.png?raw=1), pointer;
  }
  
  .canvas[eraser = yes]:hover{
    cursor: url(https://www.dropbox.com/s/ijd0dfqmuc69t34/eraser.png?raw=1), grab;
  }
  
  .canvas[eraser = yes]:active{
    cursor: url(https://www.dropbox.com/s/ovsolconqum4csc/eraser2.png?raw=1), grabbing;
  }
  
  #footer{
    margin: 20px 0px 0px 700px;
    font: bold 14px raleway;
    text-shadow: 0px 5px 5px grey;
  }